body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-sider-dark .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
}

.ant-layout-sider-dark .logo img {
  max-height: 100%;
  margin-right: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
}

/* SIGNIN */
.site-layout-signin .login-form {
  max-width: 350px;
  margin: auto;
}

.site-layout-signin .login-form-forgot {
  float: right;
}

.site-layout-signin .ant-col-rtl .login-form-forgot {
  float: left;
}

.site-layout-signin .login-form-button {
  width: 100%;
}

/* SIGNUP */
.site-layout-signup .signup-form {
  max-width: 800px;
  margin: auto;
}